.google-map {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;

  .vue-map-container {
    width: 70%;
    height: 400px;
  }

  .category-color {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    >div {
      display: flex;
      align-items: center;

      >img {
        padding-right: 10px;
      }
    }
  }
}
