// import all other scss files
@import "./Csv.scss";
@import "./Modal.scss";
@import "./DropDown.scss";
@import "./GoogleMap.scss";
@import "./Spinner.scss";

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 60px;
}

//components
.btn {
  text-decoration: underline;
  background: none;
  border: none;
  padding: 8px 20px;
  font-weight: 100;
  cursor: pointer;
  margin: 0 30px;
}

.btn-green {
  color: white;
  background: #4AAE9B;
  border: 1px solid #4AAE9B;
  border-radius: 2px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
}
